<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mine</title>

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css" />
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../assets/css/common.css" />
        <link rel="stylesheet" href="../assets/css/main.css" />
    </head>

    <body>
      <main class="_main">
        <div class="">
          <!-- Side bar -->
          <div class="_1dower">
            <div class="_1dower_main">
              <div class="_1dower_effect _bg_default">
                <p class="_1dower_close"><i class="fas fa-times"></i></p>

                <!-- Box shadow -->
                <div id="boxShadow" class="_1dower_effect_all tabcontent">
                  <p class="_1dower_effect_title">All Box shadow</p>

                  <div class="_1dower_effect_main">
                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow none</p>
                      <span id="_0box_shadow" class="_0box_shadow">
                        class:
                        "_0box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow one</p>
                      <span id="_1box_shadow" class="_1box_shadow">
                        class:
                        "_1box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow two</p>
                      <span id="_2box_shadow" class="_2box_shadow">
                        class:
                        "_2box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow three</p>
                      <span id="_3box_shadow" class="_3box_shadow">
                        class:
                        "_3box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow four</p>
                      <span id="_4box_shadow" class="_4box_shadow">
                        class:
                        "_4box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow five</p>
                      <span id="_5box_shadow" class="_5box_shadow">
                        class:
                        "_5box_shadow"
                      </span>
                    </div>
                  </div>
                </div>
                <!-- Box shadow -->

                <!-- Border -->
                <div id="border" class="_1dower_effect_all tabcontent">
                  <p class="_1dower_effect_title">All Borders</p>
                  <div class="_1dower_effect_main">
                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border none</p>
                      <span id="_0border" class="_1border">
                        class:
                        "_0border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border one</p>
                      <span id="_1border" class="_1border">
                        class:
                        "_1border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border two</p>
                      <span id="_2border" class="_2border">
                        class:
                        "_2border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border three</p>
                      <span id="_3border" class="_3border">
                        class:
                        "_3border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border four</p>
                      <span id="_4border" class="_4border">
                        class:
                        "_4border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border five</p>
                      <span id="_5border" class="_5border">
                        class:
                        "_5border"
                      </span>
                    </div>
                  </div>
                </div>
                <!-- Border -->
              </div>

              <ul class="_1dower_list">
                <li onclick="openPage('boxShadow')"  class="_1dower_items">
                  <span class="_1dowerbox_shadow"></span>
                  Box shadow
                </li>
                <li onclick="openPage('border')" id="defaultOpen" class="_1dower_items">
                  <span class="_border"></span>
                  Border
                </li>
                <li class="_1dower_items">
                  <span class="_padding"></span>
                  Padding
                </li>
                <li>Box shadow</li>
                <li>Box shadow</li>
              </ul>
            </div>

            <div class="_1dower_click">
              <i class="fas fa-cog"></i>
            </div>
          </div>
          <!-- Side bar -->

          <!-- Side bar -->
          <div class="_1sidebar">
            <div class="_1sidebar_main _bg_default">
              <div class="logo">
                <a href="index.html">
                  <img class="logo_img" src="../assets/img/logo.png" alt="" title="">
                </a>
              </div>

              <ul class="_navbar">
                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                          <i class="fas fa-chart-pie"></i>
                      </div>

                      <span class="nav_item_text">Home</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Dashbord</a></li>
                    <li><a href="splashDart.html">Dashboard alt</a></li>
                    <li><a href="homePage.html">Feed</a></li>
                    <li><a href="productPage.html">Landing</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                          <i class="fas fa-copy"></i>
                      </div>

                      <span class="nav_item_text">Pages</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Activity</a></li>
                    <li><a href="index.html">Associations</a></li>
                    <li><a href="index.html">Billing</a></li>
                    <li><a href="index.html">Customer details</a></li>
                    <li><a href="index.html">Event details</a></li>
                    <li><a href="index.html">Event create</a></li>
                    <li><a href="index.html">Events</a></li>
                    <li><a href="index.html">Invoice</a></li>
                  </ul>
                </li>

                <li>
                  <a href="plugins.html">
                    <div class="nav_item">
                        <div class="nav_item_icon">
                            <i class="fas fa-comments"></i>
                        </div>

                        <span class="nav_item_text">Chat</span>
                    </div>
                  </a>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-envelope-open"></i>
                      </div>

                      <span class="nav_item_text">Email</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Inbox</a></li>
                    <li><a href="index.html">Email details</a></li>
                    <li><a href="index.html">Compose</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-unlock-alt"></i>
                      </div>

                      <span class="nav_item_text">Authentication</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Basic</a></li>
                    <li><a href="index.html">Card</a></li>
                    <li><a href="index.html">Split</a></li>
                    <li><a href="index.html">In Modal</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-cart-plus"></i>
                      </div>

                      <span class="nav_item_text">E commerce</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Product list</a></li>
                    <li><a href="index.html">Product grid</a></li>
                    <li><a href="index.html">Product Details</a></li>
                    <li><a href="index.html">Orders</a></li>
                    <li><a href="index.html">Order details</a></li>
                    <li><a href="index.html">Customers</a></li>
                    <li><a href="index.html">Shopping cart</a></li>
                    <li><a href="index.html">Checkout</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-cart-plus"></i>
                      </div>

                      <span class="nav_item_text">Components</span>

                      <span class="nav_item_errow"><i class="fas fa-puzzle-piece"></i></span>
                  </div>

                  <ul class="nav">
                    <li class="nav_active"><a href="../components/accordion.html">Accordion</a></li>
                    <li><a href="../components/alerts.html">Alerts</a></li>
                    <li><a href="../components/avatar.html">Avatar</a></li>
                    <li><a href="../components/background.html">Background</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- Side bar -->

          <!-- Content with menu -->
          <div class="_content">
            <!-- Menu -->
            <div class="_1menu _d_flex justify-content-between _bg_default">
              <div class="_1menu_search">
                <p class="_1menu_search_icon"><i class="fas fa-search"></i></p>
                <input type="text" placeholder="Serach">
              </div>

              <div class="_1menu_list">
                <li>
                  <a href=""><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li>
                  <div class="noti">
                    <i class="fas fa-bell"></i>

                    <p class="noti_num">2</p>
                  </div>
                </li>

                <li>
                  <div class="profile">
                   <img src="../assets/img/mobile2.png" alt="" title="">
                  </div>

                  <div class="profile_drop">
                    <div class="profile_drop_mian">
                      <p class="profile_drop_title"><i class="fas fa-crown"></i> Go Pro</p>

                      <ul class="profile_drop_list">
                        <li><a href="">Set status</a></li>
                        <li><a href="">Profile & account</a></li>
                        <li><a href="">Feedback</a></li>
                      </ul>

                      <ul class="profile_drop_list">
                        <li><a href="">Setting</a></li>
                        <li><a href="">Logout</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </div>
            </div>
            <!-- Menu -->

            <!-- Content -->
            <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow three _0border">
              <h3 class="_2title">Alerts</h3>
              <p class="_1text _mar_b20 _mar_t5">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
              <a class="see" target="_blank" href="https://getbootstrap.com/docs/4.3/components/alerts/"> Accordion on Bootstrap > </a>
            </div>

            <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow _0border">
              <h3 class="_3title _mar_b20 _mar_t5">Examples</h3>
              <p class="_1text _mar_b30">Using the card component, you can extend the default collapse behavior to create an accordion. To properly achieve the accountcordion style, be sure to use <span class="_red">.alerts</span> as a wrapper.</p>

              <div class="alert_main _mar_b25">
                <h3 class="_3title _mar_b2">Alers all</h3>
                <p class="_1text _mar_b10">Using the card component, you can extend the default collapse</p>
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-10">
                    <div class="alert alert_default _mar_b15" role="alert">A simple primary alert—check it out!</div>
                    <div class="alert alert_primary _mar_b15" role="alert">A simple primary alert—check it out!</div>
                    <div class="alert alert_secondary _mar_b15" role="alert">A simple primary alert—check it out!</div>
                    <div class="alert alert_success _mar_b15" role="alert">A simple primary alert—check it out!</div>
                    <div class="alert alert_danger _mar_b15" role="alert">A simple primary alert—check it out!</div>
                    <div class="alert alert_info _mar_b15" role="alert">A simple primary alert—check it out!</div>
                    <div class="alert alert_light _mar_b15" role="alert">A simple primary alert—check it out!</div>
                    <div class="alert alert_dark _mar_b15" role="alert">A simple primary alert—check it out!</div>
                  </div>
                </div>
              </div>

              <h3 class="_4title _mar_b10 _c_black">Simple html code</h3>

              <div class="_code _mar_b20">
                <pre>
                  <code class="html">
&lt;div class="alert alert_default" role="alert"&gt;A simple primary alert—check it out!&lt;/div&gt;
&lt;div class="alert alert_primary" role="alert"&gt;A simple primary alert—check it out!&lt;/div&gt;
&lt;div class="alert alert_secondary" role="alert"&gt;A simple primary alert—check it out!&lt;/div&gt;
&lt;div class="alert alert_success" role="alert"&gt;A simple primary alert—check it out!&lt;/div&gt;
&lt;div class="alert alert_danger" role="alert"&gt;A simple primary alert—check it out!&lt;/div&gt;
&lt;div class="alert alert_info" role="alert"&gt;A simple primary alert—check it out!&lt;/div&gt;
&lt;div class="alert alert_light" role="alert"&gt;A simple primary alert—check it out!&lt;/div&gt;
&lt;div class="alert alert_dark" role="alert"&gt;A simple primary alert—check it out!&lt;/div&gt;
                  </code>
                </pre>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Content with menu -->
        </div>
      </main>        


        <script
          src="https://code.jquery.com/jquery-3.4.0.min.js"
          integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
          crossorigin="anonymous">      
        </script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script type="text/javascript" src="../assets/js/script.js"></script>
    </body>
</html>