<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mine</title>

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css" />
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../assets/css/common.css" />
        <link rel="stylesheet" href="../assets/css/main.css" />
    </head>

    <body>
      <main class="_main">
        <div class="">
          <!-- Side bar -->
          <div class="_1dower">
            <div class="_1dower_main">
              <div class="_1dower_effect _bg_default">
                <p class="_1dower_close"><i class="fas fa-times"></i></p>

                <!-- Box shadow -->
                <div id="boxShadow" class="_1dower_effect_all tabcontent">
                  <p class="_1dower_effect_title">All Box shadow</p>

                  <div class="_1dower_effect_main">
                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow none</p>
                      <span id="_0box_shadow" class="_0box_shadow">
                        class:
                        "_0box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow one</p>
                      <span id="_1box_shadow" class="_1box_shadow">
                        class:
                        "_1box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow two</p>
                      <span id="_2box_shadow" class="_2box_shadow">
                        class:
                        "_2box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow three</p>
                      <span id="_3box_shadow" class="_3box_shadow">
                        class:
                        "_3box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow four</p>
                      <span id="_4box_shadow" class="_4box_shadow">
                        class:
                        "_4box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow five</p>
                      <span id="_5box_shadow" class="_5box_shadow">
                        class:
                        "_5box_shadow"
                      </span>
                    </div>
                  </div>
                </div>
                <!-- Box shadow -->

                <!-- Border -->
                <div id="border" class="_1dower_effect_all tabcontent">
                  <p class="_1dower_effect_title">All Borders</p>
                  <div class="_1dower_effect_main">
                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border none</p>
                      <span id="_0border" class="_1border">
                        class:
                        "_0border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border one</p>
                      <span id="_1border" class="_1border">
                        class:
                        "_1border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border two</p>
                      <span id="_2border" class="_2border">
                        class:
                        "_2border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border three</p>
                      <span id="_3border" class="_3border">
                        class:
                        "_3border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border four</p>
                      <span id="_4border" class="_4border">
                        class:
                        "_4border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border five</p>
                      <span id="_5border" class="_5border">
                        class:
                        "_5border"
                      </span>
                    </div>
                  </div>
                </div>
                <!-- Border -->
              </div>

              <ul class="_1dower_list">
                <li onclick="openPage('boxShadow')"  class="_1dower_items">
                  <span class="_1dowerbox_shadow"></span>
                  Box shadow
                </li>
                <li onclick="openPage('border')" id="defaultOpen" class="_1dower_items">
                  <span class="_border"></span>
                  Border
                </li>
                <li class="_1dower_items">
                  <span class="_padding"></span>
                  Padding
                </li>
                <li>Box shadow</li>
                <li>Box shadow</li>
              </ul>
            </div>

            <div class="_1dower_click">
              <i class="fas fa-cog"></i>
            </div>
          </div>
          <!-- Side bar -->

          <!-- Side bar -->
          <div class="_1sidebar">
            <div class="_1sidebar_main _bg_default">
              <div class="logo">
                <a href="index.html">
                  <img class="logo_img" src="../assets/img/logo.png" alt="" title="">
                </a>
              </div>

              <ul class="_navbar">
                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                          <i class="fas fa-chart-pie"></i>
                      </div>

                      <span class="nav_item_text">Home</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Dashbord</a></li>
                    <li><a href="splashDart.html">Dashboard alt</a></li>
                    <li><a href="homePage.html">Feed</a></li>
                    <li><a href="productPage.html">Landing</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                          <i class="fas fa-copy"></i>
                      </div>

                      <span class="nav_item_text">Pages</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Activity</a></li>
                    <li><a href="index.html">Associations</a></li>
                    <li><a href="index.html">Billing</a></li>
                    <li><a href="index.html">Customer details</a></li>
                    <li><a href="index.html">Event details</a></li>
                    <li><a href="index.html">Event create</a></li>
                    <li><a href="index.html">Events</a></li>
                    <li><a href="index.html">Invoice</a></li>
                  </ul>
                </li>

                <li>
                  <a href="plugins.html">
                    <div class="nav_item">
                        <div class="nav_item_icon">
                            <i class="fas fa-comments"></i>
                        </div>

                        <span class="nav_item_text">Chat</span>
                    </div>
                  </a>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-envelope-open"></i>
                      </div>

                      <span class="nav_item_text">Email</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Inbox</a></li>
                    <li><a href="index.html">Email details</a></li>
                    <li><a href="index.html">Compose</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-unlock-alt"></i>
                      </div>

                      <span class="nav_item_text">Authentication</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Basic</a></li>
                    <li><a href="index.html">Card</a></li>
                    <li><a href="index.html">Split</a></li>
                    <li><a href="index.html">In Modal</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-cart-plus"></i>
                      </div>

                      <span class="nav_item_text">E commerce</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Product list</a></li>
                    <li><a href="index.html">Product grid</a></li>
                    <li><a href="index.html">Product Details</a></li>
                    <li><a href="index.html">Orders</a></li>
                    <li><a href="index.html">Order details</a></li>
                    <li><a href="index.html">Customers</a></li>
                    <li><a href="index.html">Shopping cart</a></li>
                    <li><a href="index.html">Checkout</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-cart-plus"></i>
                      </div>

                      <span class="nav_item_text">Components</span>

                      <span class="nav_item_errow"><i class="fas fa-puzzle-piece"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="../components/accordion.html">Accordion</a></li>
                    <li><a href="../components/alerts.html">Alerts</a></li>
                    <li><a href="../components/avatar.html">Avatar</a></li>
                    <li><a href="../components/background.html">Background</a></li>
                    <li><a href="../components/badges.html">Badges</a></li>
                    <li><a href="../components/breadcrumb.html">Breadcrumb</a></li>
                    <li><a href="../components/buttons.html">Buttons</a></li>
                    <li><a href="../components/card.html">Card</a></li>
                    <li class="nav_active"><a href="../components/collapse.html">Collapse</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- Side bar -->

          <!-- Content with menu -->
          <div class="_content">
            <!-- Menu -->
            <div class="_1menu _d_flex justify-content-between _bg_default">
              <div class="_1menu_search">
                <p class="_1menu_search_icon"><i class="fas fa-search"></i></p>
                <input type="text" placeholder="Serach">
              </div>

              <div class="_1menu_list">
                <li>
                  <a href=""><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li>
                  <div class="noti">
                    <i class="fas fa-bell"></i>

                    <p class="noti_num">2</p>
                  </div>
                </li>

                <li>
                  <div class="profile">
                   <img src="../assets/img/mobile2.png" alt="" title="">
                  </div>

                  <div class="profile_drop">
                    <div class="profile_drop_mian">
                      <p class="profile_drop_title"><i class="fas fa-crown"></i> Go Pro</p>

                      <ul class="profile_drop_list">
                        <li><a href="">Set status</a></li>
                        <li><a href="">Profile & account</a></li>
                        <li><a href="">Feedback</a></li>
                      </ul>

                      <ul class="profile_drop_list">
                        <li><a href="">Setting</a></li>
                        <li><a href="">Logout</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </div>
            </div>
            <!-- Menu -->

            <!-- Content -->
            <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow three _0border">
              <h3 class="_2title">Collapse</h3>
              <p class="_1text _mar_b20 _mar_t5">Toggle the visibility of content with a few classes and Bootstrap's JavaScript plugins.</p>
              <a class="see" target="_blank" href="https://getbootstrap.com/docs/4.3/components/card/">Collapse on Bootstrap > </a>
            </div>

            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow">
                  <h3 class="_3title _mar_b20">Example</h3>

                  <div class="collapse_main">
                    <div>
                      <a class="_btn _btn_default" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Link with href</a>
                      <button class="_btn _btn_default _mar_l2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Button with data-target</button>
                    </div>
                    <div class="collapse" id="collapseExample">
                      <div class="border p-card rounded">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
                    </div>
                  </div>

                  <div class="_code _mar_t15">
                    <p class="_4title _mar_b10">Simple code</p>
                    <pre>
                      <code class="html">
&lt;div&gt;
  &lt;a class="_btn _btn_default" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"&gt;Link with href&lt;/a&gt;
  &lt;button class="_btn _btn_default _mar_l2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"&gt;Button with data-target&lt;/button&gt;
&lt;/div&gt;
&lt;div class="collapse" id="collapseExample"&gt;
  &lt;div class="border p-card rounded"&gt;Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.&lt;/div&gt;
&lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-12 col-lg-12">
                <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow">
                  <h3 class="_3title _mar_b5">Multiple Targets</h3>
                  <p class="_1text _mar_b20">A <span class="_red">button</span> or <span class="_red">a</span> can show and hide multiple elements by referencing them with a JQuery selecotro in its <span class="_red">href</span> or <span class="_red">data-target</span> attribute.</p>

                  <div class="collapse_main">
                    <div>
                      <a class="_btn _btn_default" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>

                      <button class="_btn _btn_default _mar_l2" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>

                      <button class="_btn _btn_default _mar_l2" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                          <div class="card card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                          <div class="card card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="_code _mar_t15">
                    <p class="_4title _mar_b10">Simple code</p>
                    <pre>
                      <code class="html">
&lt;div&gt;
  &lt;a class="_btn _btn_default" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"&gt;Toggle first element&lt;/a&gt;

  &lt;button class="_btn _btn_default _mar_l2 ml-2" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"&gt;Toggle second element&lt;/button&gt;

  &lt;button class="_btn _btn_default _mar_l2 ml-2" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"&gt;Toggle both elements&lt;/button&gt;
&lt;/div&gt;

&lt;div class="row"&gt;
  &lt;div class="col"&gt;
    &lt;div class="collapse multi-collapse" id="multiCollapseExample1"&gt;
      &lt;div class="card card-body"&gt;Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="col"&gt;
    &lt;div class="collapse multi-collapse" id="multiCollapseExample2"&gt;
      &lt;div class="card card-body"&gt;Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Content with menu -->
        </div>
      </main>        


        <script
          src="https://code.jquery.com/jquery-3.4.0.min.js"
          integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
          crossorigin="anonymous">      
        </script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script type="text/javascript" src="../assets/js/script.js"></script>
        <script type="text/javascript">
          $('.collapse').collapse();
        </script>
    </body>
</html>