<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mine</title>

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/agate.min.css" />
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../assets/css/common.css" />
        <link rel="stylesheet" href="../assets/css/main.css" />
    </head>

    <body>
      <main class="_main">
        <div class="">
          <!-- Side bar -->
          <div class="_1dower">
            <div class="_1dower_main">
              <div class="_1dower_effect _bg_default">
                <p class="_1dower_close"><i class="fas fa-times"></i></p>

                <!-- Box shadow -->
                <div id="boxShadow" class="_1dower_effect_all tabcontent">
                  <p class="_1dower_effect_title">All Box shadow</p>

                  <div class="_1dower_effect_main">
                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow none</p>
                      <span id="_0box_shadow" class="_0box_shadow">
                        class:
                        "_0box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow one</p>
                      <span id="_1box_shadow" class="_1box_shadow">
                        class:
                        "_1box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow two</p>
                      <span id="_2box_shadow" class="_2box_shadow">
                        class:
                        "_2box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow three</p>
                      <span id="_3box_shadow" class="_3box_shadow">
                        class:
                        "_3box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow four</p>
                      <span id="_4box_shadow" class="_4box_shadow">
                        class:
                        "_4box_shadow"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Box shadow five</p>
                      <span id="_5box_shadow" class="_5box_shadow">
                        class:
                        "_5box_shadow"
                      </span>
                    </div>
                  </div>
                </div>
                <!-- Box shadow -->

                <!-- Border -->
                <div id="border" class="_1dower_effect_all tabcontent">
                  <p class="_1dower_effect_title">All Borders</p>
                  <div class="_1dower_effect_main">
                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border none</p>
                      <span id="_0border" class="_1border">
                        class:
                        "_0border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border one</p>
                      <span id="_1border" class="_1border">
                        class:
                        "_1border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border two</p>
                      <span id="_2border" class="_2border">
                        class:
                        "_2border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border three</p>
                      <span id="_3border" class="_3border">
                        class:
                        "_3border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border four</p>
                      <span id="_4border" class="_4border">
                        class:
                        "_4border"
                      </span>
                    </div>

                    <div class="_1dower_effect_items">
                      <p class="_1dower_effect_label">Border five</p>
                      <span id="_5border" class="_5border">
                        class:
                        "_5border"
                      </span>
                    </div>
                  </div>
                </div>
                <!-- Border -->
              </div>

              <ul class="_1dower_list">
                <li onclick="openPage('boxShadow')"  class="_1dower_items">
                  <span class="_1dowerbox_shadow"></span>
                  Box shadow
                </li>
                <li onclick="openPage('border')" id="defaultOpen" class="_1dower_items">
                  <span class="_border"></span>
                  Border
                </li>
                <li class="_1dower_items">
                  <span class="_padding"></span>
                  Padding
                </li>
                <li>Box shadow</li>
                <li>Box shadow</li>
              </ul>
            </div>

            <div class="_1dower_click">
              <i class="fas fa-cog"></i>
            </div>
          </div>
          <!-- Side bar -->

          <!-- Side bar -->
          <div class="_1sidebar">
            <div class="_1sidebar_main _bg_default">
              <div class="logo">
                <a href="index.html">
                  <img class="logo_img" src="../assets/img/logo.png" alt="" title="">
                </a>
              </div>

              <ul class="_navbar">
                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                          <i class="fas fa-chart-pie"></i>
                      </div>

                      <span class="nav_item_text">Home</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Dashbord</a></li>
                    <li><a href="splashDart.html">Dashboard alt</a></li>
                    <li><a href="homePage.html">Feed</a></li>
                    <li><a href="productPage.html">Landing</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                          <i class="fas fa-copy"></i>
                      </div>

                      <span class="nav_item_text">Pages</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Activity</a></li>
                    <li><a href="index.html">Associations</a></li>
                    <li><a href="index.html">Billing</a></li>
                    <li><a href="index.html">Customer details</a></li>
                    <li><a href="index.html">Event details</a></li>
                    <li><a href="index.html">Event create</a></li>
                    <li><a href="index.html">Events</a></li>
                    <li><a href="index.html">Invoice</a></li>
                  </ul>
                </li>

                <li>
                  <a href="plugins.html">
                    <div class="nav_item">
                        <div class="nav_item_icon">
                            <i class="fas fa-comments"></i>
                        </div>

                        <span class="nav_item_text">Chat</span>
                    </div>
                  </a>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-envelope-open"></i>
                      </div>

                      <span class="nav_item_text">Email</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Inbox</a></li>
                    <li><a href="index.html">Email details</a></li>
                    <li><a href="index.html">Compose</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-unlock-alt"></i>
                      </div>

                      <span class="nav_item_text">Authentication</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Basic</a></li>
                    <li><a href="index.html">Card</a></li>
                    <li><a href="index.html">Split</a></li>
                    <li><a href="index.html">In Modal</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-cart-plus"></i>
                      </div>

                      <span class="nav_item_text">E commerce</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="index.html">Product list</a></li>
                    <li><a href="index.html">Product grid</a></li>
                    <li><a href="index.html">Product Details</a></li>
                    <li><a href="index.html">Orders</a></li>
                    <li><a href="index.html">Order details</a></li>
                    <li><a href="index.html">Customers</a></li>
                    <li><a href="index.html">Shopping cart</a></li>
                    <li><a href="index.html">Checkout</a></li>
                  </ul>
                </li>

                <li>
                  <div class="nav_item">
                      <div class="nav_item_icon">
                        <i class="fas fa-cart-plus"></i>
                      </div>

                      <span class="nav_item_text">Components</span>

                      <span class="nav_item_errow"><i class="fas fa-chevron-down"></i></span>
                  </div>

                  <ul class="nav">
                    <li><a href="../components/accordion.html">Accordion</a></li>
                    <li><a href="../components/alerts.html">Alerts</a></li>
                    <li><a href="../components/avatar.html">Avatar</a></li>
                    <li><a href="../components/background.html">Background</a></li>
                    <li><a href="../components/badges.html">Badges</a></li>
                    <li><a href="../components/breadcrumb.html">Breadcrumb</a></li>
                    <li><a href="../components/buttons.html">Buttons</a></li>
                    <li><a href="../components/card.html">Card</a></li>
                    <li><a href="../components/collapse.html">Collapse</a></li>
                    <li class="nav_active"><a href="../components/inputs.html">Inputs</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- Side bar -->

          <!-- Content with menu -->
          <div class="_content">
            <!-- Menu -->
            <div class="_1menu _d_flex justify-content-between _bg_default">
              <div class="_1menu_search">
                <p class="_1menu_search_icon"><i class="fas fa-search"></i></p>
                <input type="text" placeholder="Serach">
              </div>

              <div class="_1menu_list">
                <li>
                  <a href=""><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li>
                  <div class="noti">
                    <i class="fas fa-bell"></i>

                    <p class="noti_num">2</p>
                  </div>
                </li>

                <li>
                  <div class="profile">
                   <img src="../assets/img/mobile2.png" alt="" title="">
                  </div>

                  <div class="profile_drop">
                    <div class="profile_drop_mian">
                      <p class="profile_drop_title"><i class="fas fa-crown"></i> Go Pro</p>

                      <ul class="profile_drop_list">
                        <li><a href="">Set status</a></li>
                        <li><a href="">Profile & account</a></li>
                        <li><a href="">Feedback</a></li>
                      </ul>

                      <ul class="profile_drop_list">
                        <li><a href="">Setting</a></li>
                        <li><a href="">Logout</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </div>
            </div>
            <!-- Menu -->

            <!-- Content -->
            <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow three _0border">
              <h3 class="_2title">Checkbox</h3>
              <p class="_1text _mar_b20 _mar_t5">Inputs component will start counting after an element with data-countup attribute become visible in the viewport.</p>
            </div>

            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow">
                  <h3 class="_3title _mar_b20">Example</h3>

                  <div style="width: 250px;">
                    <select>
                      <option data-display="Select">Nothing</option>
                      <option value="1">Some option</option>
                      <option value="2">Another option</option>
                      <option value="3" disabled>A disabled option</option>
                      <option value="4">Potato</option>
                    </select> 
                  </div>

                  <div class="_code _mar_t15">
                    <p class="_4title _mar_b10">Simple code</p>
                    <pre>
                      <code class="html">
&lt;select&gt;
  &lt;option data-display="Select"&gt;Nothing&lt;/option&gt;
  &lt;option value="1"&gt;Some option&lt;/option&gt;
  &lt;option value="2"&gt;Another option&lt;/option&gt;
  &lt;option value="3" disabled&gt;A disabled option&lt;/option&gt;
  &lt;option value="4"&gt;Potato&lt;/option&gt;
&lt;/select&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-12 col-lg-12">
                <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow">
                  <h3 class="_3title _mar_b20">Inputs size</h3>

                  <div class="row">
                    <div class="col-12 col-md-3 col-lg-3">
                      <div class="_select_lg">
                        <select>
                          <option data-display="Select">Nothing</option>
                          <option value="1">Some option</option>
                          <option value="2">Another option</option>
                          <option value="3" disabled>A disabled option</option>
                          <option value="4">Potato</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-12 col-md-3 col-lg-3">
                      <select>
                        <option data-display="Select">Nothing</option>
                        <option value="1">Some option</option>
                        <option value="2">Another option</option>
                        <option value="3" disabled>A disabled option</option>
                        <option value="4">Potato</option>
                      </select>
                    </div>

                    <div class="col-12 col-md-3 col-lg-3">
                      <div class="_select_sm">
                        <select>
                          <option data-display="Select">Nothing</option>
                          <option value="1">Some option</option>
                          <option value="2">Another option</option>
                          <option value="3" disabled>A disabled option</option>
                          <option value="4">Potato</option>
                        </select>
                      </div>
                    </div> 
                  </div>

                  <div class="_code _mar_t15">
                    <p class="_4title _mar_b10">Simple code</p>
                    <pre>
                      <code class="html">
&lt;div class="_select_lg"&gt;
  &lt;select&gt;
    &lt;option data-display="Select"&gt;Nothing&lt;/option&gt;
    &lt;option value="1"&gt;Some option&lt;/option&gt;
    &lt;option value="2"&gt;Another option&lt;/option&gt;
    &lt;option value="3" disabled&gt;A disabled option&lt;/option&gt;
    &lt;option value="4"&gt;Potato&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;

&lt;select&gt;
  &lt;option data-display="Select"&gt;Nothing&lt;/option&gt;
  &lt;option value="1"&gt;Some option&lt;/option&gt;
  &lt;option value="2"&gt;Another option&lt;/option&gt;
  &lt;option value="3" disabled&gt;A disabled option&lt;/option&gt;
  &lt;option value="4"&gt;Potato&lt;/option&gt;
&lt;/select&gt;

&lt;div class="_select_sm"&gt;
  &lt;select&gt;
    &lt;option data-display="Select"&gt;Nothing&lt;/option&gt;
    &lt;option value="1"&gt;Some option&lt;/option&gt;
    &lt;option value="2"&gt;Another option&lt;/option&gt;
    &lt;option value="3" disabled&gt;A disabled option&lt;/option&gt;
    &lt;option value="4"&gt;Potato&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt;
                      </code>
                    </pre>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-12 col-lg-12">
                <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow">
                  <h3 class="_3title _mar_b20">Example</h3>

                  <div style="width: 250px;">
                    <div class="_select_scroll">
                      <select>
                        <option data-display="Select">Nothing</option>
                        <option value="1">Some option</option>
                        <option value="2">Another option</option>
                        <option value="3" disabled>A disabled option</option>
                        <option value="4">Potato</option>
                        <option value="5">Another option</option>
                        <option value="6">Another option</option>
                        <option value="7">Another option</option>
                        <option value="8">Another option</option>
                        <option value="9">Another option</option>
                        <option value="10">Another option</option>
                        <option value="11">Another option</option>
                        <option value="12">Another option</option>
                        <option value="13">Another option</option>
                        <option value="14">Another option</option>
                        <option value="15">Another option</option>
                      </select>
                    </div> 
                  </div>

                  <div class="_code _mar_t15">
                    <p class="_4title _mar_b10">Simple code</p>
                    <pre>
                      <code class="html">
&lt;div class="_select_scroll"&gt;
  &lt;select&gt;
    &lt;option data-display="Select"&gt;Nothing&lt;/option&gt;
    &lt;option value="1"&gt;Some option&lt;/option&gt;
    &lt;option value="2"&gt;Another option&lt;/option&gt;
    &lt;option value="3" disabled&gt;A disabled option&lt;/option&gt;
    &lt;option value="4"&gt;Potato&lt;/option&gt;
    &lt;option value="5"&gt;Another option&lt;/option&gt;
    &lt;option value="6"&gt;Another option&lt;/option&gt;
    &lt;option value="7"&gt;Another option&lt;/option&gt;
    &lt;option value="8"&gt;Another option&lt;/option&gt;
    &lt;option value="9"&gt;Another option&lt;/option&gt;
    &lt;option value="10"&gt;Another option&lt;/option&gt;
    &lt;option value="11"&gt;Another option&lt;/option&gt;
    &lt;option value="12"&gt;Another option&lt;/option&gt;
    &lt;option value="13"&gt;Another option&lt;/option&gt;
    &lt;option value="14"&gt;Another option&lt;/option&gt;
    &lt;option value="15"&gt;Another option&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt; 
                      </code>
                    </pre>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-12 col-lg-12">
                <div class="_1card _padd20 _mar_b15 _b_radious7 _5box_shadow">
                  <h3 class="_3title _mar_b20">Example</h3>

                  <div style="width: 250px;">
                    <div class="_select_search">
                      <select class="_select_search_select" name="">
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                          <option value="4">Four</option>
                      </select>
                    </div> 
                  </div>

                  <div class="_code _mar_t15">
                    <p class="_4title _mar_b10">Simple code</p>
                    <pre>
                      <code class="html">
&lt;div class="_select_search"&gt;
  &lt;select class="_select_search_select" name=""&gt;
      &lt;option value="1"&gt;One&lt;/option&gt;
      &lt;option value="2"&gt;Two&lt;/option&gt;
      &lt;option value="3"&gt;Three&lt;/option&gt;
      &lt;option value="4"&gt;Four&lt;/option&gt;
  &lt;/select&gt;
&lt;/div&gt; 
                      </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Content with menu -->
        </div>
      </main>        


        <!--<script
          src="https://code.jquery.com/jquery-3.4.0.min.js"
          integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
          crossorigin="anonymous">      
        </script>-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>-->
        <script type="text/javascript" src="../assets/js/jquery.counterup.min.js"></script>
        <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        
        
        <script type="text/javascript" src="../assets/js/script.js"></script>
        <script type="text/javascript" src="../assets/js/select.js"></script>
    </body>
</html>